{% extends "shf/_base.html" %}
{% block content%}
    <div class="container">
        <h1     class="text-center">{{ area.area }}</h1>
        <hr>
        <div class="row">
            <div class="col-3">
                <a href="{{ area.spot1 }}"><img src="{{ area.image1.url }}" alt="写真1" class="img-fluid"/></a>
            </div>
            <div class="col-9">
                <h5>{{ area.spot_name1 }}</h5>
                {{ area.desc1 }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="{{ area.spot2 }}"><img src="{{ area.image2.url }}" alt="写真2" class="img-fluid" /></a>
            </div>
            <div class="col-9">
                <h5>{{ area.spot_name2 }}</h5>
                <p>{{ area.desc2 }}</p>
            </div>
        </div>
        <hr>
        <h2 class="text-center">Hotel</h2>
        {% for hotel in area.hotel_set.all%}
            <div class="card">
            <div class="row">
                <div class="col-3">
                    <a href="{% url 'shf:hotel' hotel.pk %}"><img src="{{ hotel.image1.url }}" alt="写真3" class="img-fluid" /></a>
                </div>
                <div class="col-9">
                    <a href="{% url 'shf:hotel' hotel.pk %}"><h5>{{ hotel.name }}</h5></a>
                    {% for condition in hotel.condition.all %}
                        <p>Genre: {{ condition }}</p>
                    {% endfor %}
                        <p>Fee: {{ hotel.fee }}~ / person</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
