{% extends "shf/_base.html" %}
{% block content%}
    <div class="container">
    <br>
    <h2>{{ hotel.name }}</h2>
        <hr     color="black">
        <div class="row d-block mx-auto" style="position:relative; left:40px">
            <img src="{{ hotel.image1.url }}" width="340" height="205" alt="写真1"/>
            <img src="{{ hotel.image2.url }}" width="340" height="205" alt="写真2"/>
            <img src="{{ hotel.image3.url }}" width="340" height="205" alt="写真3"/>
        </div>
        <div class="row" id="fonter">
            <div class="col-12">
                <h4>{{ hotel.detail | linebreaksbr }}</h4>
            </div>
        </div>
        <div class="card">
        <div>
            <h5><span class="mgr-10">　　　Access:{{ hotel.access | linebreaksbr}}</span></h5>
        </div>
        <div>
            <h5>　　　 Booking:<a href="{{ hotel.booking }}">Here</a>(May only support Japanese)</h5>
        </div>
        </div>
    </div>
{% endblock %}
