{% extends "shf/_base.html" %}
{% block content%}
    <h2 class="text-center">Our Recommended Sightseeing Area for You</h2>
    <div class="row jumbotron">
        <div class="col-12">
            <ul class="list-group">
            {% for area in area_list %}
                <img src="{{ area.image.url }}" alt="area" class="img-thumbnail"/>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            <p>Area</p>
                        </div>
                        <div class="col-md-9">
                            <p>{{ area.area }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Genre</p>
                        </div>
                        <div class="col-9">
                            {% for condition in area.condition.all %}
                                {{ condition }},　
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right">
                                <a class="btn btn-outline-secondary " href="{% url 'shf:area' area.pk %}">Detail</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">
                    No areas match your search criteria
                </li>
                {% endfor %}
            </ul>
            <div class="row" >
                <div class="col-12">
                    <div class="float-right">
                    {% include "shf/_pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
