{% extends "shf/_base.html" %}
{% block content %}
<h2 class="text-center" style="font-family: 'Arial Black', sans-serif">Suburb Hotel Finder</h2>
    <div class="jumbotron" style="background-color: white">
<form method="get">
    {{ search_form.non_field_errors }}
    {% for field in search_form %}
        <div class="form-control">
            {{ field.label_tag }}
            {% if field.label == "Price" %}
                {% for fee in field %}
                    {{ fee }}
                {% endfor %}
                <p style="opacity: 0.6">*{{ field.help_text }}</p>
            {% elif field.label == "Condition" %}
                {% for condition in field %}
                    {{ condition }}
                {% endfor %}
                <p style="opacity: 0.6">*{{ field.help_text }}</p>
            {% else %}
                {{ field }}
                <p style="opacity: 0.6">*{{ field.help_text }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <div class="text-center"><input class="btn btn-lg btn-block btn-warning" type="submit" value="Search" style="color: #138496"></div>
</form>
    </div>
{% endblock %}
